<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other requests to index.html
RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>

<Files "index.html">
FileETag None
Header unset ETag
Header unset Pragma
Header unset Cache-Control
Header unset Last-Modified
Header set Pragma "no-cache"
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
</Files>

<Files "sponsoren.json">
Header set Cache-Control "public, max-age=300"
</Files>

<Files "spielplan.json">
Header set Cache-Control "public, max-age=0"
</Files>

</IfModule>
