header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 15px rgba(57, 63, 72, 0.3);
  z-index: 9000;

  .logo {
    height: 8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    transform: rotate(0);
    transform-origin: 50% 50%;
    transition:
      height 1s ease-out,
      margin-top 1s ease-out,
      margin-bottom 1s ease-out,
      transform 1s ease-out;
  }

  &.scrolled .logo {
    height: 6.2rem;
    margin-top: -1.8rem;
    margin-bottom: -1.4rem;
    transform: rotate(3.8deg);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
  }
}
