header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 15px rgba(57, 63, 72, 0.3);

  .logo {
    height: 8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    transition:
      height 1s ease-out,
      margin-top 1s ease-out,
      margin-bottom 1s ease-out;
  }

  &.scrolled .logo {
    height: 5.8rem;
    margin-top: -1.9rem;
    margin-bottom: -1.1rem;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
  }
}
