img.icon {
  width: 2rem;
  margin-right: 0.2rem;
  animation: iconRotation 1s linear infinite;
}
@keyframes iconRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
