.wrapper {
  min-height: 100vh;
}

main {
  margin-top: 9.5rem;
  margin-bottom: 3rem;
}

footer a {
  display: inline-block;
  color: white;
  padding: 0.5rem;

  &:hover {
    color: lightgray;
  }
}
