header {
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  img {
    height: 8rem;
    margin-top: 0;
    margin-bottom: 0;
    transition:
      height 1s ease-out,
      margin-top 1s ease-out,
      margin-bottom 1s ease-out;
  }

  .eventinfo {
    height: 3rem;
    overflow: hidden;
    transition: height 1s linear;
  }

  &.scrolled {
    img {
      height: 6rem;
      margin-top: -1.9rem;
      margin-bottom: -1.1rem;
    }
    .eventinfo {
      height: 0;
    }
  }
}
