@import "bootstrap";

@font-face {
  font-family: Tracklister;
  src: url(./assets/fonts/Tracklister-Medium.woff);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Tracklister;
}

html {
  scrollbar-gutter: stable;
}

.image-gallery {
  --ig-thumbnail-size: 12rem;
  --ig-thumbnail-size-small: 6rem;
}
