@import "bootstrap";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: Tracklister;
  src: url(Tracklister-Medium.woff);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Tracklister;
}

.btn svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
}

html {
  scrollbar-gutter: stable; 
}
